# Master Data Analysis with Python - Intro to Pandas
----

This is a 2-hour course from Udemy

In [2]:
import pandas as pd

In [3]:
bikes = pd.read_csv("../data/Master_Data_Analysis/bikes.csv")
bikes

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
3,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy
4,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,19.0,Damen Ave & Pierce Ave,19.0,73.0,17.3,partlycloudy
...,...,...,...,...,...,...,...,...,...,...,...
50084,Male,2017-12-30 13:07:00,2017-12-30 13:34:00,1625,State St & Pearson St,27.0,Clark St & Elm St,27.0,5.0,16.1,partlycloudy
50085,Male,2017-12-30 13:34:00,2017-12-30 13:44:00,585,Halsted St & 35th St (*),16.0,Union Ave & Root St,11.0,5.0,16.1,partlycloudy
50086,Male,2017-12-30 13:34:00,2017-12-30 13:48:00,824,Kingsbury St & Kinzie St,31.0,Halsted St & Blackhawk St (*),20.0,5.0,16.1,partlycloudy
50087,Female,2017-12-31 09:30:00,2017-12-31 09:33:00,178,Clinton St & Lake St,23.0,Kingsbury St & Kinzie St,31.0,7.0,11.5,partlycloudy
50088,Male,2017-12-31 15:22:00,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,15.0,Clifton Ave & Lawrence Ave,15.0,10.9,15.0,partlycloudy

**Selecionando Series no DataFrame**

In [4]:
bikes.head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy

In [5]:
s = bikes['tripduration']
s.head()

0     993
1     623
2    1040
3     667
4     130
Name: tripduration, dtype: int64

In [6]:
type(s)

pandas.core.series.Series

**Exercise 1**
-
Select the column `events`, the type of weather was recorded, and assing it to a variable the same name. Output the first 10 values of it

In [7]:
events = bikes['events']
events.head(10)

0    mostlycloudy
1    partlycloudy
2    mostlycloudy
3    mostlycloudy
4    partlycloudy
5    mostlycloudy
6          cloudy
7          cloudy
8          cloudy
9    mostlycloudy
Name: events, dtype: object

**Exercice 2**
- 
What type of object is `events`?

In [8]:
type(events)

pandas.core.series.Series

**Exercice 3**
- 
Select the last two rows of the `bikes` DataFrame and assing it to the variable `bikes_last_2`. What type of object is `bikes_last_2`?

In [9]:
bikes_last_2 = bikes.tail(2)
type(bikes_last_2)

pandas.core.frame.DataFrame

In [10]:
bikes['end_capacity']

0        15.0
1        19.0
2        23.0
3        31.0
4        19.0
         ...
50084    27.0
50085    11.0
50086    20.0
50087    31.0
50088    15.0
Name: end_capacity, Length: 50089, dtype: float64

In [11]:
bikes['start_capacity']

0        11.0
1        31.0
2        15.0
3        19.0
4        19.0
         ...
50084    27.0
50085    16.0
50086    31.0
50087    23.0
50088    15.0
Name: start_capacity, Length: 50089, dtype: float64

In [12]:
bikes.dtypes

gender                object
starttime             object
stoptime              object
tripduration           int64
from_station_name     object
start_capacity       float64
to_station_name       object
end_capacity         float64
temperature          float64
wind_speed           float64
events                object
dtype: object

In [13]:
type(bikes.shape)

tuple

In [14]:
bikes.dtypes

gender                object
starttime             object
stoptime              object
tripduration           int64
from_station_name     object
start_capacity       float64
to_station_name       object
end_capacity         float64
temperature          float64
wind_speed           float64
events                object
dtype: object

In [15]:
bikes = pd.read_csv("../data/Master_Data_Analysis/bikes.csv", parse_dates=['starttime', 'stoptime'])
bikes.head()

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
3,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy
4,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,19.0,Damen Ave & Pierce Ave,19.0,73.0,17.3,partlycloudy

In [16]:
bikes.dtypes

gender                       object
starttime            datetime64[ns]
stoptime             datetime64[ns]
tripduration                  int64
from_station_name            object
start_capacity              float64
to_station_name              object
end_capacity                float64
temperature                 float64
wind_speed                  float64
events                       object
dtype: object

In [17]:
2 ** 63

9223372036854775808

In [18]:
bikes.shape

(50089, 11)

In [19]:
bikes.size

550979

In [20]:
len(bikes)

50089

In [21]:
bikes.shape[0]

50089

In [22]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             50089 non-null  object
 1   starttime          50089 non-null  datetime64[ns]
 2   stoptime           50089 non-null  datetime64[ns]
 3   tripduration       50089 non-null  int64
 4   from_station_name  50089 non-null  object
 5   start_capacity     50083 non-null  float64
 6   to_station_name    50089 non-null  object
 7   end_capacity       50077 non-null  float64
 8   temperature        50089 non-null  float64
 9   wind_speed         50089 non-null  float64
 10  events             50089 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(1), object(4)
memory usage: 4.2+ MB

In [23]:
s = bikes.dtypes
s

gender                       object
starttime            datetime64[ns]
stoptime             datetime64[ns]
tripduration                  int64
from_station_name            object
start_capacity              float64
to_station_name              object
end_capacity                float64
temperature                 float64
wind_speed                  float64
events                       object
dtype: object

In [24]:
bikes.shape

(50089, 11)

In [25]:
df = pd.read_csv('../data/Master_Data_Analysis/sample_data.csv')
df

        name state  color    food  age  height  score
0       Jane    NY   blue   Steak   30     165    4.6
1       Niko    TX  green    Lamb    2      70    8.3
2      Aaron    FL    red   Mango   12     120    9.0
3   Penelope    AL  white   Apple    4      80    3.3
4       Dean    AK   gray  Cheese   32     180    1.8
5  Christina    TX  black   Melon   33     172    9.5
6   Cornelia    TX    red   Beans   69     150    2.2

In [26]:
df.set_index('name')

          state  color    food  age  height  score
name
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [27]:
df

        name state  color    food  age  height  score
0       Jane    NY   blue   Steak   30     165    4.6
1       Niko    TX  green    Lamb    2      70    8.3
2      Aaron    FL    red   Mango   12     120    9.0
3   Penelope    AL  white   Apple    4      80    3.3
4       Dean    AK   gray  Cheese   32     180    1.8
5  Christina    TX  black   Melon   33     172    9.5
6   Cornelia    TX    red   Beans   69     150    2.2

In [28]:
df2 = df.set_index('name')
df2

          state  color    food  age  height  score
name
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [29]:
df2.index

Index(['Jane', 'Niko', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'], dtype='object', name='name')

In [30]:
df2.columns

Index(['state', 'color', 'food', 'age', 'height', 'score'], dtype='object')

In [31]:
df2.values

array([['NY', 'blue', 'Steak', 30, 165, 4.6],
       ['TX', 'green', 'Lamb', 2, 70, 8.3],
       ['FL', 'red', 'Mango', 12, 120, 9.0],
       ['AL', 'white', 'Apple', 4, 80, 3.3],
       ['AK', 'gray', 'Cheese', 32, 180, 1.8],
       ['TX', 'black', 'Melon', 33, 172, 9.5],
       ['TX', 'red', 'Beans', 69, 150, 2.2]], dtype=object)

In [ ]:
df2["food"] # Return a Series of the values into food column

df2["food"].values # Return a Array of the values food

array(['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'],
      dtype=object)

In [ ]:
s = df2["color"] # It's a simple Series
s

name
Jane          blue
Niko         green
Aaron          red
Penelope     white
Dean          gray
Christina    black
Cornelia       red
Name: color, dtype: object

In [42]:
s.index

Index(['Jane', 'Niko', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'], dtype='object', name='name')

In [44]:
s.values

array(['blue', 'green', 'red', 'white', 'gray', 'black', 'red'],
      dtype=object)

In [59]:
movie = pd.read_csv("../data/Master_Data_Analysis/movie.csv")
movie.head(3)

,title,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
0,Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
1,Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
2,Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

In [47]:
movie.index

RangeIndex(start=0, stop=4916, step=1)

In [48]:
range(100, 500, 4)

range(100, 500, 4)

In [51]:
idx = movie.index
idx

Index(['Avatar', 'Pirates of the Caribbean: At World's End', 'Spectre',
       'The Dark Knight Rises', 'Star Wars: Episode VII - The Force Awakens',
       'John Carter', 'Spider-Man 3', 'Tangled', 'Avengers: Age of Ultron',
       'Harry Potter and the Half-Blood Prince',
       ...
       'Primer', 'Cavite', 'El Mariachi', 'The Mongol King', 'Newlyweds',
       'Signed Sealed Delivered', 'The Following', 'A Plague So Pleasant',
       'Shanghai Calling', 'My Date with Drew'],
      dtype='object', name='title', length=4916)

In [54]:
idx[4000]

'Before Midnight'

In [56]:
idx[40:100:20]

Index(['TRON: Legacy', '2012', 'Iron Man 2'], dtype='object', name='title')

In [57]:
idx[[50, 70, 3000]]

Index(['The Great Gatsby', 'Hugo', 'Quartet'], dtype='object', name='title')

In [87]:
movie.set_index('color', verify_integrity=True)

ValueError: Index has duplicate keys: Index(['Color', 'Black and White', nan], dtype='object', name='color')

In [86]:
movie.set_index('color')

,year,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
color,,,,,,,,,,,,,,,,,,,,
Color,2009.0,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Color,2007.0,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Color,2015.0,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,Stephanie Sigman,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
Color,2012.0,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,Joseph Gordon-Levitt,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,NaN,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Color,2013.0,NaN,87.0,Scott Smith,2.0,Eric Mabius,637.0,Daphne Zuniga,470.0,Crystal Lowe,318.0,NaN,Comedy|Drama,1.0,629,fraud|postal worker|prison|theft|trial,English,Canada,NaN,7.7
Color,NaN,TV-14,43.0,NaN,NaN,Natalie Zea,841.0,Valorie Curry,593.0,Sam Underwood,319.0,NaN,Crime|Drama|Mystery|Thriller,43.0,73839,cult|fbi|hideout|prison escape|serial killer,English,USA,NaN,7.5
Color,2013.0,NaN,76.0,Benjamin Roberds,0.0,Eva Boehnke,0.0,Maxwell Moody,0.0,David Chandler,0.0,NaN,Drama|Horror|Thriller,13.0,38,NaN,English,USA,1400.0,6.3
Color,2012.0,PG-13,100.0,Daniel Hsia,0.0,Alan Ruck,946.0,Daniel Henney,719.0,Eliza Coupe,489.0,10443.0,Comedy|Drama|Romance,14.0,1255,NaN,English,USA,NaN,6.3
Color,2004.0,PG,90.0,Jon Gunn,16.0,John August,86.0,Brian Herzlinger,23.0,Jon Gunn,16.0,85222.0,Documentary,43.0,4285,actress name in title|crush|date|four word tit...,English,USA,1100.0,6.6

In [85]:
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

In [90]:
movie.index[-10:]

Index(['Primer', 'Cavite', 'El Mariachi', 'The Mongol King', 'Newlyweds',
       'Signed Sealed Delivered', 'The Following', 'A Plague So Pleasant',
       'Shanghai Calling', 'My Date with Drew'],
      dtype='object', name='title')

In [93]:
movie = pd.read_csv("../data/Master_Data_Analysis/movie.csv", index_col=6)
movie.head()

,title,year,color,content_rating,duration,director_name,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
director_fb,,,,,,,,,,,,,,,,,,,,,
0.0,Avatar,2009.0,Color,PG-13,178.0,James Cameron,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
563.0,Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
0.0,Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
22000.0,The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
131.0,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,Doug Walker,131.0,Rob Walker,12.0,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1

In [94]:
movie.set_index('title')

,year,color,content_rating,duration,director_name,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,Christoph Waltz,11000.0,Rory Kinnear,393.0,Stephanie Sigman,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,Tom Hardy,27000.0,Christian Bale,23000.0,Joseph Gordon-Levitt,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,Doug Walker,131.0,Rob Walker,12.0,NaN,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,2013.0,Color,NaN,87.0,Scott Smith,Eric Mabius,637.0,Daphne Zuniga,470.0,Crystal Lowe,318.0,NaN,Comedy|Drama,1.0,629,fraud|postal worker|prison|theft|trial,English,Canada,NaN,7.7
The Following,NaN,Color,TV-14,43.0,NaN,Natalie Zea,841.0,Valorie Curry,593.0,Sam Underwood,319.0,NaN,Crime|Drama|Mystery|Thriller,43.0,73839,cult|fbi|hideout|prison escape|serial killer,English,USA,NaN,7.5
A Plague So Pleasant,2013.0,Color,NaN,76.0,Benjamin Roberds,Eva Boehnke,0.0,Maxwell Moody,0.0,David Chandler,0.0,NaN,Drama|Horror|Thriller,13.0,38,NaN,English,USA,1400.0,6.3
Shanghai Calling,2012.0,Color,PG-13,100.0,Daniel Hsia,Alan Ruck,946.0,Daniel Henney,719.0,Eliza Coupe,489.0,10443.0,Comedy|Drama|Romance,14.0,1255,NaN,English,USA,NaN,6.3
My Date with Drew,2004.0,Color,PG,90.0,Jon Gunn,John August,86.0,Brian Herzlinger,23.0,Jon Gunn,16.0,85222.0,Documentary,43.0,4285,actress name in title|crush|date|four word tit...,English,USA,1100.0,6.6

In [99]:
movie3 = movie.set_index('title')

In [98]:
movie3 = movie.set_index('title')
movie3.head(3)

,year,color,content_rating,duration,director_name,actor1,actor1_fb,actor2,actor2_fb,actor3,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,Christoph Waltz,11000.0,Rory Kinnear,393.0,Stephanie Sigman,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8